[submodule "third_party/google-api-objectivec-client"]
	path = third_party/google-api-objectivec-client
	url = git@github.com:google/google-api-objectivec-client.git
[submodule "third_party/YouTubeEmbeddedPlayerFramework"]
	path = third_party/YouTubeEmbeddedPlayerFramework
	url = git@github.com:djthorpe/YouTubeEmbeddedPlayerFramework.git
[submodule "third_party/google-api-objectivec-client-for-rest"]
	path = third_party/google-api-objectivec-client-for-rest
	url = https://github.com/google/google-api-objectivec-client-for-rest.git
