
div.wrapper {
	margin-left: auto;
    margin-right: auto;
    width: 860px;
    background-color: #000;
}

div.player {
	height: 480px;
}

div.status {
	height: 25px;
	margin-left: 20px;
	margin-right: 20px;
	color: #eee;
}

div.status span {
	background: #3498db;
	border-radius: 28px;
	color: #ffffff;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

div.status span.live {
	background: #ff3434;
}

div.playlist {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 102px;
    white-space: nowrap;
    position: relative;
}

div.playlist li {
    border: 1px solid black;
    padding: 0;
    width: 182px;
	height: 102px;
}

div.playlist li div.parent {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 180px 135px;
    width: 180px;
	height: 100px;
}

div.playlist li div.parent h1 {
	position: absolute;
	display: inline;
	line-height: 1;
	width: 180px;
	color: #fff;
	white-space: pre-wrap;
	font-size: 13px;
	padding: 10px 10px 10px 10px;
}
