
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

#videoplayer {
	background: #e3e3e3;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.thumbnail-wrapper {
	width: 96px;
	height: 54px;
	position: relative;
	display: block;
	overflow: hidden;
}

.thumbnail-wrapper img {
	width: 100%;
	position: absolute;
	left: 0;
	display: block;
	top: -9px;
}

.video-unselected {
	border: 1px solid #e3e3e3;
	background: #e3e3e3;
}

.video-selected {
	border: 1px solid grey;
	background: #e0e0e0;
}

