/*-----------------------------
RESET STYLES
-----------------------------*/

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    /* This stops the iPhone from automatically changing the size of the text when you flip the phone */
    -webkit-text-size-adjust: none;
}

body {
    font-size: 62.5%; /* 62.5% means 1em = 10px */
}

ul, li, ol, dl, dd, dt {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/*-----------------------------
SITE SPECIFIC STYLES
-----------------------------*/

body {
    background:#000;
    font-family: Helvetica; /* Helvetica is on the iPhone already, so you may as well take advantage */
    color:#aaa;
}

p {
    font-size:12px;
    padding-bottom:8px;
}

a {
    color:#fff000;
    text-decoration:none;
}

