/*-----------------------------
RESET STYLES
-----------------------------*/

#toolbar-stats div {
	background: url(/img/red-circle.png) no-repeat black;
	border-radius: 8px 8px 8px 8px;
	font-size: 12px;
	color: white;
	padding: 2px 8px 2px 16px;
}

div.player-wrapper {

}

#youtube-player {
	padding-top: 45px;
	padding-bottom: 45px;
}

#toolbar-control span {
	line-height: 35px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 8px;
	border: 1px solid #007aff;
	background: #eee;
}