/*-----------------------------
RESET STYLES
-----------------------------*/

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    /* This stops the iPhone from automatically changing the size of the text when you flip the phone */
    -webkit-text-size-adjust: none;
}

#toolbar-stats div {
	background: url(/img/red-circle.png) no-repeat black;
	border-radius: 8px 8px 8px 8px;
	font-size: 12px;
	color: white;
	padding: 2px 8px 2px 16px;
}
